//zmienne
// $pinkBackground:#ffd5d4;
// $lowOpacityPink: rgba(255, 183, 180, 0.267);
// $pinkColor: #ffbebd;
// $pinkDarker:rgba(146, 60, 96, 0.678);
// $lowOpacityWhite:rgba(255, 255, 255, 0.336);
// $ReadMore:rgba(255, 255, 255, 0.514);
$pinkBackground:#050505;
$lowOpacityPink: rgba(119, 78, 119, 0.473);
$lowOpacityPink2: rgba(161, 78, 161, 0.473);
$pinkColor: #fdf2f2;
$pinkDarker:rgba(252, 186, 214, 0.678);
$lowOpacityWhite:rgba(255, 255, 255, 0.336);
$ReadMore:rgba(95, 67, 89, 0.301);
$nav: rgba(241, 239, 239, 0.6);



*{
    padding:0;
    margin:0;
    font-size:62.5%;
}

body{
    background-color: $pinkBackground;
}