//zmienne
$pinkBackground:#ffd5d4;
$lowOpacityPink: rgba(255, 183, 180, 0.267);
$pinkColor: #ffbebd;
$pinkDarker:rgba(146, 60, 96, 0.678);
$lowOpacityWhite:rgba(255, 255, 255, 0.336);
$ReadMore:rgba(255, 255, 255, 0.514);



*{
    padding:0;
    margin:0;
    font-size:62.5%;
}

body{
    background-color: $pinkBackground;
}