@import "../base.scss";
@import "../media.scss";
footer{
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
    background-color: rgb(82, 67, 78);
    width:100%;
    >div{
        width:50%;
        margin:20px auto;
        text-align: center;
        >p{
            display:inline-block;
            text-align: center;
            font-size: 3rem;
            margin-bottom:10px;
        }
        >p:nth-of-type(2){
            border-left: 2px solid rgba(252, 251, 251, 0.7);
            border-right: 2px solid rgba(253, 253, 253, 0.7);
            padding-left: 10px;
            padding-right:10px;
            margin-left: 10px;
            margin-right:10px;
        }
        >span{
            font-size:2.5rem;
            color:rgba(255, 253, 253, 0.719);
            text-align: center;
        }
        >a{
            margin-top:20px;
            text-align: center;
        }
    }
}
