@import "../base.scss";
@import "../media.scss";
.baw{
    width:90%;
    margin:auto;
    margin-top:20px;
    margin-bottom: 170px;
    position:relative;
    >h3{
        text-align: center;
        font-size: 12rem;
        color:white;
        margin-bottom: 23px;
        z-index:9999;
    }
    >.gallery{
        position:relative;
        width:100%;
        height:600px;
        margin: auto;
        .one{
            width:30%;
            position:absolute;
            top:5%;
            right:32%;
        }
        .two{
            width:15%;
            position:absolute;
            top:50%;
            right:80%;
            z-index:6;
        }
        .three{
            width:25%;
            position:absolute;
            top:0%;
            right:60%;
        }
        .four{
            width:20%;
            position:absolute;
            top:12%;
            right:83%;
            z-index:5;
        }
        .five{
            width:25%;
            position:absolute;
            top:-5%;
            right:-3%;
        }
        .six{
            width:15%;
            position:absolute;
            top:15%;
            right:20%;
        }
        .seven{
            width:10%;
            position:absolute;
            top:55%;
            right:54%;
            z-index:4;
        }
        .eight{
            width:25%;
            position:absolute;
            top:60%;
            right:30%;
        }
    }
    >.frame1{
        width:15%;
        height:20%;
        border:10px solid $pinkBackground;
        position:absolute;
        right:68%;
        top:90%;
        z-index: 40;
    }
    >.frame2{
        width:20%;
        height:20%;
        border:10px solid $pinkBackground;
        border-top:0;
        position:absolute;
        right:17%;
        top:15%;
        z-index: 40;
    }
}